@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
  --primaryColor: #fff;
  --navColor1: #21292c;
  --navColor2: #aa3e39;
  --navColor3: #fffc44ce;
  --navColor4: #236267;
  --navColor5: #2c8437;
  --bg-overlay: rgb(0, 0, 0, 0.7);
  --col-blue:#0501ff;
  --col-yellow: #f6f200;
  --col-support: rgb(252, 252, 128);
  --col-support-hov-yel: rgb(195,171,34);
  --col-support-hov-blue: rgba(45,63,253,1);
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  font-family: 'Lora', sans-serif;}

/* --- Navigation Menu ------------------------------ */

/* Overlay */
.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-overlay);
  /* Убираем навигацию */
  transform: translateX(-100vw);
}

.overlay-slide-right {
  /* меняем translateX, делаем время действия 0,4 сек*/
  transition: all 0.4s ease-in-out;
  /* возвращаем overlay на экран */
  transform: translateX(0);
}

.overlay-slide-left {
  /* меняем translateX, делаем время действия 0,4 сек*/
  transition: all 0.8s ease-in-out;
  /* возвращаем overlay на экран */
  transform: translateX(-100vw);
}

/* Nav Menu Items */
nav, nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

nav ul li {
  height: 20%;
  overflow: hidden;
}

nav li a {
  position: relative;
  top: 45%;
  color: var(--primaryColor);
  letter-spacing: 0.25rem;
  text-decoration: none;
  display: block;
  text-align: center;
}

nav li a:hover {
  transform: scale(1.2);
}

/* Creating a decorative element */
nav li a::before {
  content: '';
  width: 25vw;
  height: 0.25rem;
  background-color: var(--primaryColor);
  position: absolute;
  top: 47.5%;
  left: 0;
  opacity: 0;
}

nav li a:hover::before {
  opacity: 1;
}

nav li:nth-of-type(1) {
  background-color: var(--navColor2)
}

nav li:nth-of-type(2) {
  background-color: var(--navColor1);
  ;
}

nav li:nth-of-type(3) {
  background-color: var(--navColor4);
  
}

nav li:nth-of-type(4) {
  background-color: var(--navColor3);
}

nav li:nth-of-type(5) {
  background-color: var(--navColor5);
}

/* Slide IN animation with delay for each nav item */
.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

/* Создаем функцию */
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Slide OUT animation with delay for each nav item */
.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-5 {
  animation: slide-out 0.3s linear 0.1s both;
}

/* Создаем функцию */
@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: var(--primaryColor);
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* --- Sections ------------------------------------ */

section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  color: var(--primaryColor);
}

#home {
  background-image: linear-gradient(var(--bg-overlay),var(--bg-overlay)), url("https://images.unsplash.com/photo-1645940516577-dff09476dc1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center center;
}

section#home a {
  position: absolute;
  z-index: 2;
  top: 1.5rem;
  left: 1.5rem;
  text-decoration: none;
  font-size: 0.8rem;
  padding-bottom: 5px;
  color: var(--primaryColor);
  border-bottom: 1px solid var(--primaryColor);
}

section#financial-support {
  background-image: url("https://images.unsplash.com/photo-1500316124030-4cffa46f10f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center center;
}

section#boost-morale {
  background-image: linear-gradient(var(--bg-overlay),var(--bg-overlay)), url("https://images.unsplash.com/photo-1571795184552-5f1df723de54?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1152&q=80");
  background-size: cover;
  background-position: center center;
}

section#truth {
  background-image: url("https://images.unsplash.com/photo-1423784346385-c1d4dac9893a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center center;
}

section#post-scriptum {
  background-image: linear-gradient(var(--bg-overlay),var(--bg-overlay)), url("https://images.unsplash.com/photo-1642145869181-d4ea45e62781?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center center;
}

/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 600px) {
  section#home a {
    top: 1rem;
    left: 1rem;
  }

  .menu-bars {
    top: 0.5rem;
    right: 1rem;
  }
}

#home {
  display: flex;
  flex-direction: column;
}

.home__header {
  font-size: 5vw;
  text-align: center;
  margin-bottom: 0;
  text-transform: uppercase;
}
h2 {
  text-transform: uppercase;
}

h3 {
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.home__para {
  min-width: 300px;
  max-width: 600px;
  text-align: center;
}

.home__para-slava {
  font-size: 1.5rem;
}

.btns__language {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button + button {
  margin-left: 5rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button, button::after {
  cursor: pointer;
  width: 7rem;
  height: 3rem;
  font-size: 1rem;
  background: linear-gradient(45deg, transparent 5%, var(--col-blue) 5%);
  border: 0;
  color: var(--primaryColor);
  letter-spacing: 3px;
  line-height: 88px;
  box-shadow: 6px 0px 0px var(--col-yellow);
  outline: transparent;
  position: relative;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: '-';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #000000 5%);
  text-shadow: -3px -3px 0px var(--col-yellow), 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

.fin-support {
  display: flex;
  flex-direction: column;
}

.fin-support__header {
  text-align: center;
  text-transform: uppercase;
}

.blocks {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blocks__army {
  min-width: 150px;
  max-width: 300px;
  width: 50%;
  /* margin-top: -30px; */
}

.blocks__aid {
  min-width: 150px;
  max-width: 300px;
  width: 50%;
  margin-left: 200px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.support {
  text-decoration: none;
  color: var(--col-support);
}

.support:hover {
  background: var(--col-support-hov-yel);
  background: linear-gradient(0deg, var(--col-support-hov-yel) 36%, var(--col-support-hov-blue) 100%);
}

#boost-morale {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.morale__link {
  text-decoration: none;
  font-size: 3rem;
  color: var(--col-support);
  text-transform: uppercase;
}

.morale__link:hover {
  background: var(--col-support-hov-yel);
  background: linear-gradient(0deg, var(--col-support-hov-yel) 36%, var(--col-support-hov-blue) 100%);
}

.morale__info {
  max-width: 600px;
  text-align: center;
}

#truth {
  display: flex;
  flex-direction: column;
}

.truth__content {
  display: flex;
}

.soc {
  margin-left: 200px;
}

.resource__link {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--col-support);
}

.resource__link:hover {
  background: var(--col-support-hov-yel);
  background: linear-gradient(0deg, var(--col-support-hov-yel) 36%, var(--col-support-hov-blue) 100%);
}

#post-scriptum {
  display: flex;
  flex-direction: column;
}

.self__paragraph {
  min-width: 300px;
  max-width: 800px;
  text-align: center;
}

.blocks__army__ul{
  margin-top: 10px;
}

@media screen and (max-width: 415px) {

  .fin-support {
    font-size: 0.7rem;
  }

  .resource__link {
    font-size: 1rem;
  }
  .blocks__aid {
    margin-left: 15px;
  }

  .morale__header, .truth__header,
  .truth__header {
    font-size: 1.5rem;
    text-align: center;
  }

  .morale__link {
    font-size: 2rem;
    text-align: center;
  }

  .morale__info {
    font-size: 0.8rem;
    max-width: 300px;
  }

  .soc {
    margin-left: 15px;
  }

  .soc, .media {
    padding: 10px;
  }

  .resource__link {
    font-size: 0.8rem;
  }

  .self__paragraph {
    padding: 15px;
  }

  .home__header {
    font-size: 7vw;
  }

  .home__para {
    font-size: 0.8rem;
    padding: 15px;
    line-height: 30px;
  }
  
  .home__para-slava {
    font-size: 1rem;
  }

}